.section__contacto{
    background: #EAF2FD;

}
.contacto {
    margin: 0 auto;
    width: 100%;
    max-width: 120rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 6rem;
    height: auto;
}

.contacto__logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 20%;
}

.list{
    flex-grow: 1;
    width: 20%;
}
.contacto__list {
    flex-grow: 1;
}

.contacto__list-item {
    list-style: none;
    margin-bottom: 1.6rem;
}

.contacto__item-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #464646;

}

.form{
    width: 50%;
}
.contacto__form {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    /* row-gap: 1rem; */
}

.form__title {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #464646;
    margin-bottom: 2.2rem;

}

.label__nombre {
    background: #ffff;
    height: 2rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;

    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #A2A2A2;

}

.form__input {
    border: none;
    outline: unset;
    height: 2.2rem;
    padding-left: 0.5rem;

    margin-bottom: 2.2rem;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #464646;

    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);

}

.fomr__mensaje {
    border: none;
    padding-top: 0.5rem;
    padding-left: 0.5rem;

    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);

    margin-bottom: 2.2rem;
}

.form__submit {
    Width: 14.4rem;
    height: 5.1rem;

    border: none;

    background: #2A7AE4;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;

    color: #FFFFFF;

}