.section__contacto{
    background: #EAF2FD;
    padding-top: 2rem;

}
.contacto {
    margin: 0 auto;
    width: 100%;
    max-width: 120rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 6rem;
    height: auto;
}

.contacto__logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 20%;
}

.list{
    flex-grow: 1;
    width: 20%;
}
.contacto__list {
    flex-grow: 1;
}

.contacto__list-item {
    list-style: none;
    margin-bottom: 1.6rem;
}

.contacto__item-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #464646;

}

.form{
    width: 50%;
}
.contacto__form {
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    /* row-gap: 1rem; */
}

.form__title {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #464646;
    margin-bottom: 2.2rem;

}

.label__nombre {
    background: #ffff;
    height: 2rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;

    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #A2A2A2;

}

.form__input {
    border: none;
    outline: unset;
    height: 2.2rem;
    padding-left: 0.5rem;

    margin-bottom: 2.2rem;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #464646;

    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);

}

.fomr__mensaje {
    border: none;
    padding-top: 0.5rem;
    padding-left: 0.5rem;

    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);

    margin-bottom: 2.2rem;
}

.form__submit {
    Width: 14.4rem;
    height: 5.1rem;

    border: none;

    background: #2A7AE4;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;

    color: #FFFFFF;

}

.contacto__container{
    width: 50%;
    display: flex;
    align-items: flex-start;
}


/* responsive  */
@media screen and (max-width: 425px) {
    
    .contacto{
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding: 0;
        justify-content: initial;
    }
    .contacto__logo{
        width: initial;
    }
    .contacto__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .contacto-logo__img{
        width: 3.5rem;
        margin-right: 0.5rem;
    }
    .list{
        text-align: center;
        margin-top: 2rem;
        width: initial;
    }
    .form{
        width: 100%;
        padding:2rem;
    }
    .form__input{
        height: 4.5rem;
    }
    .form__submit{
        width: 12rem;
        height: 4.5rem;
        font-size: 1.4rem;
    }
}

@media screen and ( max-width: 768px){
    .contacto__container{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .list{
        width: 100%;
        margin-top: 3rem;
    }
    
}