footer {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

footer p {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    color: #464646;
}