footer {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    color: #464646;
}